.general {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.generalCounterContainerd {
    margin: 0 auto;
    width: 400px;
    height: 300px;
    border: 3px solid darkred;
    border-radius: 8px;
    position: relative;
}

.display {
    width: 300px;
    height: 150px;
    margin: 0 auto;
    border: 3px solid darkred;
    border-radius: 8px;
    position: relative;
    top: 20px
}



.buttons {
    width: 300px;
    height: 80px;
    border: 3px solid darkred;
    border-radius: 8px;
    margin: 0 auto;
    position: relative;
    top: 30px;
    display: flex;
    justify-content: center;
}


.button1 {
    width: 100px;
    height: 50px;
    position: relative;
    left: 20px;
    top: 15px;
    background-color: sienna;
    border-radius: 10px;
    text-transform: uppercase;
}

.button1:hover {
    color: dimgrey;
}

.button1End{
    width: 100px;
    height: 50px;
    position: relative;
    left: 20px;
    top: 15px;
    background-color: sienna;
    border-radius: 10px;
    text-transform: uppercase;
    opacity: 30%;
}

.button2 {
    width: 100px;
    height: 50px;
    position: relative;
    right: 20px;
    top: 15px;
    background-color: sienna;
    text-transform: uppercase;
    border-radius: 10px;
}

.button2:hover {
    color: dimgrey;
}

.button2reset {
    width: 100px;
    height: 50px;
    position: relative;
    right: 20px;
    top: 15px;
    background-color: sienna;
    text-transform: uppercase;
    border-radius: 10px;
    opacity: 30%;
}


.button3 {
    width: 100px;
    height: 50px;
    position: relative;
    left: 100px;
    top: 15px;
    background-color: sienna;
    text-transform: uppercase;
    border-radius: 10px;
}

.button3:hover {
    color: dimgrey;
}

.display1 {
    text-transform: uppercase;
    text-decoration: darkred;
    font-size: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
}


.displayEnd {
    text-transform: uppercase;
    text-decoration: darkred;
    font-size: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
    color: red;
}

.displaySetting {
    text-transform: uppercase;
    text-decoration: darkred;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    position: relative;
    top:20px;
    left: 20px;
}


.generalCounterSetting {
    margin: 0 auto;
    width: 400px;
    height: 300px;
    border: 3px solid darkred;
    border-radius: 8px;
    position: relative;
}


